@width-play-info: 410px;

@height-player-high: 480px;
@width-player-high: 854px;

@height-player-middle: 360px;
@width-player-middle: 640px;

@height-player-small: 240px;
@width-player-small: 426px;

@color-dark-player-background: #3a3a3a;

.cartoon {
  font-size: 0;
  padding-top: 45px;
  .placeholder-player {
    transition: background-color 0.3s ease 0.3s;
    width: @width-player-high + @width-play-info;
    height: @height-player-high;
    margin: 10px auto 0 auto;

    .block-player {
      height: 100%;
      width: @width-player-high;
      float: left;
      background-color: white;
      video{
        width: 100%;
        height: 100%;
      }
    }

    .block-info {
      height: 100%;
      width: @width-play-info;
      float: right;
      padding-left: 10px;
      box-sizing: border-box;
        img {
          width: @width-play-info - 10px - 2px;
          height: @height-player-high - 2px;
          border: 1px solid  #3a3a3a;
        }
    }
  }

  .placeholder-player.full {
    margin-top: 0;
    width: 100%;
    height: @height-player-high;
    background-color: black;

    .block-player {
      float: none;
      width: @width-player-high;
      margin-left: auto;
      margin-right: auto;
    }

    .block-info {
      display: none;
    }
  }

  .placeholder-info{
    width: @width-player-high + @width-play-info;
    height: 1000px;
    margin: 10px auto;

    .left{
      float: left;
      width: @width-player-high;
      .block-about {
        width: 100%;
        margin-bottom: 10px;
        padding: 15px;
        box-sizing: border-box;
        height: 120px;
        background-color: white;
        font-size: 16px;
        color: #3a3a3a;
        font-family: font_text, sans-serif;
        h2 {
          font-family: font_text, sans-serif;
          margin: 0;
        }
        span{
          display: block;
          margin-bottom: 5px;
        }
      }

      .block-series {
        width: 100%;
        height: 345px;
        margin-bottom: 10px;
        background-color: #3c3c3c;
        box-sizing: border-box;
        padding: 15px;
        .series{
          width: 150px;
          height: 150px;
          background-color: white;
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }

      .block-full {
        width: 100%;
        height: 300px;
        background-color: #3c3c3c;
      }
    }

    .right{
      width: @width-play-info;
      float: right;
      height: 900px;
      .block-popular {
        width: 100%;
        height: 100%;
        padding-left: 10px;
        box-sizing: border-box;
        .popular {
          background-color: #2b81af;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 1264px) {
  .cartoon {
    .placeholder-player {
      width: @width-player-high;
      .block-player{
        float: none;
        width: 100%;
      }
      .block-info {
        display: none;
      }
    }
    .placeholder-info {
      width: @width-player-high;
      .left {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 100%;
      }
      .right {
        display: none;
      }
    }
  }
}

@media all and (max-width: @width-player-high) {
  .cartoon {
    .placeholder-player {
      width: @width-player-middle;
      height: @height-player-middle;
    }
    .placeholder-player.full {
      width: 100%;
      height: @height-player-middle;
    }
    .placeholder-info {
      width: @width-player-middle;
    }
  }
}

@media all and (max-width: @width-player-middle) {
  .cartoon {
    .placeholder-player {
      width: @width-player-small;
      height: @height-player-small;
    }
    .placeholder-player.full {
      width: 100%;
      height: @height-player-small;
    }
    .placeholder-info {
      width: @width-player-small;
    }
  }
}

@media all and (max-width: @width-player-small) {
  .cartoon {
    .placeholder-player {
      width: 100%;
      height: @height-player-small;
      .player {
        width: 100%;
      }
    }
    .placeholder-player.full {
      width: 100%;
      height: @height-player-small;
    }
    .placeholder-info {
      width: 100%;
    }
  }
}