@width-play-info: 410px;

@height-player-high: 480px;
@width-player-high: 854px;

@height-player-middle: 360px;
@width-player-middle: 640px;

@height-player-small: 240px;
@width-player-small: 426px;

@color-dark-player-background: #3A3A3A;

@all: @width-player-high + @width-play-info;

.cartoon {
  padding-top: 45px;
  .placeholder-player {
    margin-top: 10px;
    width: @width-player-high + @width-play-info;
    height: @height-player-high;
    margin-left: auto;
    margin-right: auto;

    .player {
      height: 100%;
      width: @width-player-high;
      float: left;
      background-color: white;
      display: block;
    }
    .player-info {
      height: 100%;
      width: @width-play-info;
      float: right;
      background-color: #3a3a3a;
    }
  }

  .placeholder-player.full {
    margin-top: 10px;
    width: 100%;
    height: @height-player-high;
    background-color: @color-dark-player-background;

    .player {
      float: none;
      height: 100%;
      width: @width-player-high;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
    }

    .player-info {
      display: none;
    }
  }

  .info{
    margin-top: 10px;
    width: @width-player-high + @width-play-info;
    height: 300px;
    background-color: #3a3a3a;
    margin-left: auto;
    margin-right: auto;
  }

  .series{
    margin-top: 10px;
    width: @width-player-high + @width-play-info;
    height: 300px;
    background-color: #3a3a3a;
    margin-left: auto;
    margin-right: auto;
  }

  .full{
    width: @width-player-high + @width-play-info;
    height: 300px;
    background-color: #3a3a3a;
    margin: 10px auto 10px auto;
  }
}

@media all and (max-width: 1264px) {
  .cartoon {
    .placeholder-player {
      width: @width-player-high;
      .player-info {
        display: none;
      }
    }

    .info{
      width: @width-player-high;
    }
    .series{
      width: @width-player-high;
    }
    .full{
      width: @width-player-high;
    }
  }
}

@media all and (max-width: @width-player-high) {
  .cartoon {
    .placeholder-player {
      width: @width-player-middle;
      height: @height-player-middle;
      .player {
        width: @width-player-middle;
      }
    }
    .placeholder-player.full {
      width: 100%;
      height: @height-player-middle;
      .player {
        width: @width-player-middle;
      }
    }

    .info{
      width: @width-player-middle;
    }
    .series{
      width: @width-player-middle;
    }
    .full{
      width: @width-player-middle;
    }
  }
}

@media all and (max-width: @width-player-middle) {
  .cartoon {
    .placeholder-player {
      width: @width-player-small;
      height: @height-player-small;
      .player {
        width: @width-player-small;
      }
    }
    .placeholder-player.full {
      width: 100%;
      height: @height-player-small;
      .player {
        width: @width-player-small;
      }
    }
    .info{
      width: @width-player-small;
    }
    .series{
      width: @width-player-small;
    }
    .full{
      width: @width-player-small;
    }

  }
}