.cartoon{
  width: 100%;
  video{
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 365px;
    display: block;
  }
}

@media all and (max-width: 640px) {
.cartoon{
  video{
    width: 98%;
    height: auto;
  }
}
}