@block-height: 80px;
@block-color: #3366ff;
@color-bmo: #63BDA4;
@color-fin: #FFFFFF;
@color-jake: #F8C129;
@color-bubblegum: #FE66CB;
@color-pbk: #CD93F9;
@color-marci: #050A1E;

.nav{
  width: 100%;
  height: 340px;
  background-color: #0098CC;
  transition: background-color 0.5s;
  font-family: myFirstFont;
  padding-top: 20px;

  .line{
    width: 100%;
    font-size: 0;
    .left{
      display: inline-block;
      width: 50%;
      transition: width 0.5s ease 0.5s;
      .block{
        background-color: @block-color;
        margin: 10px 10% 10px 30%;
        height: @block-height;
        text-align: right;
        line-height: @block-height;
        img{
          height: @block-height;
          width: auto;
          float: right;
        }
        span{
          cursor: default;
          font-size: 14px;
          color: #FFFFFF;
        }
      }
      .marci{
        background-color: @color-marci;
      }
      .bubblegum{
        background-color: @color-bubblegum;
      }
      .fin{
        background-color: @color-fin;
        span{
          color: #0f0f0f;
        }
      }
      .pbk{
        background-color: @color-pbk;
      }
      .jake{
        background-color: @color-jake;
      }
      .bmo{
        background-color: @color-bmo;
      }
    }

    .right{
      display: inline-block;
      width: 50%;
      transition: width 0.5s ease 0.5s;
      .block{
        background-color: @block-color;
        margin: 10px 30% 10px 10%;
        height: @block-height;
        text-align: left;
        line-height: @block-height;
        img{
          height: @block-height;
          width: auto;
          float: left;
        }
        span{
          cursor: default;
          font-size: 14px;
          color: #FFFFFF;
        }
      }
      .marci{
        background-color: @color-marci;
      }
      .bubblegum{
        background-color: @color-bubblegum;
      }
      .fin{
        background-color: @color-fin;
        span{
          color: #0f0f0f;
        }
      }
      .pbk{
        background-color: @color-pbk;
      }
      .jake{
        background-color: @color-jake;
      }
      .bmo{
        background-color: @color-bmo;
      }
    }
  }
}

.nav.marci{
  background-color: @color-marci;
  opacity: 1;
}
.nav.pbk{
  background-color: @color-pbk;
  opacity: 1;
}
.nav.fin{
  background-color: @color-fin;
  opacity: 1;
}
.nav.bubblegum{
  background-color: @color-bubblegum;
  opacity: 1;
}
.nav.jake{
  background-color: @color-jake;
  opacity: 1;
}
.nav.bmo{
  background-color: @color-bmo;
  opacity: 1;
}

.nav.collapsed{
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #0098CC;
  opacity: 1;
  transition: height 0s ease 0s;
  .menu{
    width: 100%;
    top: -300px;
    position: fixed;
    transition: 0.5s ease-in-out 0s;
  }
}

.nav.collapsed:hover > .menu{
  top: 50px;
}

.nav.collapsed:hover{
  height: 300px;
}

.content{
  padding-top: 40px;
  height: 900px;
}

.content.collapsed{
  padding-top: 380px;
  height: 900px;
}

@media all and (max-width: 870px) {
  .nav {
    height: @block-height * 6;
    .line{
      .left {
        width: 100%;
        .block{
          text-align: left;
          margin: 0 auto 0 auto;
          img{
            float: left;
          }
        }
      }
      .right{
        width: 100%;
        .block{
          text-align: left;
          margin: 0 auto 0 auto;
          img{
            float: left;
          }
        }
      }
    }
  }
}
