<div class="popular">
    <div class="width">
        <div class="block" ng-repeat="popular in populars">
            <img src="/img/popular.jpg">
        </div>
    </div>
</div>
<div class="fresh mu">
    <h2>
        Новинки Мультфильмы
    </h2>
    <div class="width">
        <a href ui-sref="cartoon" class="block" ng-repeat="mu in fresh_mu">
            <img ng-src="/img/mu.jpg">
            <span class="name_ru">Время приключений</span><br>
            <span class="name_en">Adventure Time</span><br>
            <span class="name">Сезон 1 серия 2</span>
        </a>
    </div>
</div>
<div class="fresh an">
    <h2>
        Новинки Аниме
    </h2>
    <div class="width">
        <div class="block" ng-repeat="an in fresh_an">
            <img ng-src="/img/mu.jpg">
            <span class="name_ru">Наруто</span><br>
            <span class="name_en">Naruto</span><br>
            <span class="name">Сезон 38 серия 42</span>
        </div>
    </div>
</div>


