
.container{
    height: 500px;
    background: #ddd;
    transition: background 0.5s ease;
}

.jake{
    background: url('/img/jake.png');
}

.line{
    padding-top: 100px;
    width: 100%;
    font-size: 0;
}

.line .left{
    display: inline-block;
    width: 50%;
    height: 40px;
}

.line .right{
    display: inline-block;
    width: 50%;
    height: 40px;
}

.line .left .content{
    height: 40px;
    background-color: #f8c128;
    float: right;
    font-size: 16px;
    cursor: default;
    line-height: 40px;
    text-align: right;
    transition: width 0.5s ease-out 0s;
    width: 140px;
}

.line .left .content:hover{
    width: 300px;
    transition: width ease-out 0.5s;
}

.line .right .content{
    height: 40px;
    background-color: #3e8f3e;
    width: 100px;
    float: left;
    transition: width ease-out 0.5s;
}

.line .right .content:hover{
    width: 300px;
    transition: width ease-out 0.5s;
}