app.constant('config', {
    resource_host: 'video-backend.local',
    resource_urls: {
        list: 'list/:kind:/:type'
    },
    CONSTANT: {
        TYPE:{
            CARTOON:{
                SERIES: 'series',
                FULL: 'full',
                STUDIO: 'studio'
            }
        },
        KIND: {
            CARTOON:{
                MULT: 'mu',
                ANIM: 'an'
            }
        }
    }
});
