app.constant('config', {
    resource_host: 'http://video-backend.local/app_dev.php/',
    resource_urls: {
        list: 'list',
        main: 'main',
        cartoon: 'cartoon/:playlist'
    },
    CONSTANT: {
        TYPE:{
            CARTOON:{
                SERIES: 'series',
                FULL: 'full',
                STUDIO: 'studio'
            }
        },
        KIND: {
            CARTOON:{
                MULT: 'mu',
                ANIM: 'an'
            }
        }
    }
});
